body, html, .hero, .container, .column {
    margin: 0;
    padding: 0;
}

.image-container {
    width: 50%; /* Set the width to 50% of the screen */
    height: 100%; /* Make it fill the full height */
    float: left; /* Float the container to the left */

}

.image-container img {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain aspect ratio */
}

.content-column {
    width: 50%; /* Make the content column occupy the remaining 50% */
    height: 100%; /* Make it fill the full height */
    float: left; /* Float the container to the left */
    padding: 6rem; /* Adjust padding as needed */
}

.navbar-item {
    font-size: 20px; /* Adjust the font size as needed */
}

@media screen and (max-width: 1023px) {
    .has-text-right-custom {
        right: 0;
        left: auto;
    }
}


