body, html, .hero, .container, .column {
    margin: 0;
    padding: 0;
    padding-right: 0;
    margin-right: 0;
}

.image-container {
    width: 50%; /* Set the width to 50% of the screen */
    height: 100%; /* Make it fill the full height */
    float: left; /* Float the container to the left */

}

.image-container img {
    max-width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain aspect ratio */
}

.image{
    max-width: 100%; /* Make the image fill the container */


}

.content-column {
    width: 50%; /* Make the content column occupy the remaining 50% */
    height: 100%; /* Make it fill the full height */
    float: left; /* Float the container to the left */
    padding: 1rem; /* Adjust padding as needed */
}

.navbar-item {
    font-size: 20px; /* Adjust the font size as needed */
}

.relative-position {
    position: relative;
}

.absolute-position {
    position: absolute;
    top: 0;
    right: 0;
}

.vertical-image-wrapper {
    height: 83vh;
    display: flex;

}
.vertical-image-wrapper img {
    max-width: 100%;
    max-height: 100%; 
}

.navbar-menu {
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (max-width: 1023px) {
    .has-text-right-custom {
        right: 0;
        left: auto;
    }
}




/*
@media screen and (max-width: 1023px){
    .navbar-brand .navbar-item, .navbar-tabs .navbar-item {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

}
*/

